# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# Environment files
.env
.env.*.local

# TypeScript
*.tsbuildinfo

# Build output
dist/
build/

# Editor directories and files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# ESLint cache
.eslintcache

# Coverage directory used by testing tools like Jest
coverage/

# Temporary files
tmp/
temp/
*.tmp
note.txt
notewizard